<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="kCura" version="9.6.53.73" targetFramework="net462" />
  <package id="kCura.Config" version="9.5.418.7" targetFramework="net462" />
  <package id="kCura.Crypto" version="9.5.418.7" targetFramework="net462" />
  <package id="kCura.Data.RowDataGateway" version="9.5.418.7" targetFramework="net462" />
  <package id="kCura.Injection" version="9.6.60.172" targetFramework="net462" />
  <package id="NUnit" version="3.6.0" targetFramework="net462" />
  <package id="Relativity.Api" version="9.6.53.73" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="9.6.53.73" targetFramework="net462" />
  <package id="Relativity.Other" version="9.6.53.73" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.6.53.73" targetFramework="net462" />
  <package id="RelativityTestHelpersNuget" version="2.0.0" targetFramework="net462" />
</packages>